<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.spydiko.rotationmanager"
          android:versionCode="15"
          android:versionName="2.0_070114">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".AppSpecificOrientation"
        android:debuggable="false">
    <activity
            android:name=".HelperActivity"
            android:noHistory="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".FirstTimeInstruction"
            android:noHistory="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="com.spydiko.FIRSTHOWTO"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity

            android:name="com.spydiko.rotationmanager.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:noHistory="true"
            android:configChanges="orientation">

            <intent-filter>
                <action android:name="com.spydiko.SPLASHSCREEN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity

            android:name="com.spydiko.rotationmanager.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation">

            <intent-filter>
                <action android:name="com.spydiko.CLEARSCREEN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.spydiko.rotationmanager.HowToActivity"
            android:label="@string/howToTitle"
            android:parentActivityName="com.spydiko.rotationmanager.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spydiko.rotationmanager.MainActivity"/>
        </activity>

        <activity
            android:name="com.spydiko.rotationmanager.AboutActivity"
            android:label="@string/AboutTitle"
            android:parentActivityName="com.spydiko.rotationmanager.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spydiko.rotationmanager.MainActivity"/>
        </activity>

        <activity
            android:name="com.spydiko.rotationmanager.DonateActivity"
            android:label="@string/titleDonate"
            android:parentActivityName="com.spydiko.rotationmanager.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spydiko.rotationmanager.MainActivity"/>

        </activity>

        <!--<activity android:name="com.startapp.android.publish.list3d.List3DActivity"-->
        <!--android:taskAffinity="com.spydiko.rotationmanager.AppWall"-->
        <!--android:theme="@android:style/Theme" />-->
        <!--<activity android:name="com.startapp.android.publish.AppWallActivity"-->
        <!--android:theme="@android:style/Theme.Translucent" android:taskAffinity="com.spydiko.rotationmanager.AppWall"-->
        <!--android:configChanges="orientation|keyboardHidden" />-->


        <service
            android:name=".NewOrieService"
            android:enabled="true"/>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data
                    android:scheme="package"
                    android:path="com.spydiko.rotationmanager"/>
            </intent-filter>
        </receiver>


        <activity
            android:name="com.jirbo.adcolony.AdColonyOverlay"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>

        <activity
            android:name="com.jirbo.adcolony.AdColonyFullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

        <activity
            android:name="com.jirbo.adcolony.AdColonyBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|screenLayout|uiMode|smallestScreenSize|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

            <meta-data
                android:name="ADMOB_PUBLISHER_ID"
                android:value="pub-7765188398405132"/>
        </activity>


        <!--<activity-->
        <!--android:name="com.appflood.AFPanelActivity"-->
        <!--android:configChanges="keyboardHidden">-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.appflood.AFFullScreenActivity"-->
        <!--android:configChanges="keyboardHidden|orientation"-->
        <!--android:theme="@android:style/Theme.Translucent"-->
        <!--android:launchMode="singleTask">-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.appflood.AFListActivity"-->
        <!--android:configChanges="keyboardHidden|orientation"-->
        <!--android:launchMode="singleTask"-->
        <!--android:theme="@android:style/Theme.Translucent" >-->
        <!--<intent-filter>-->
        <!--<action android:name="" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity-->
        <!--android:name="com.appflood.AFInterstitialActivity"-->
        <!--android:configChanges="keyboardHidden|orientation"-->
        <!--android:launchMode="singleTask"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.Translucent" >-->
        <!--</activity>-->
        <!--<meta-data android:name="com.startapp.android.DEV_ID" android:value="108632531 "/>-->
        <!--<meta-data android:name="com.startapp.android.APP_ID" android:value="209134043"/>-->

    </application>

</manifest>
